### Import data

In [1]:
import pandas as pd

In [126]:
filename = "C:/Users/a844026/Downloads/Planning des sessions Intra Pré Programmées 2023 - mise à jour 16 01 23.xlsx"
df = pd.read_excel(filename, sheet_name = 0, header=4, dtype='object') # read all sheets dtype='object', 


mois = []
limite = []
for col in df.columns:
    if 'Dates formation' in col:
        new_col = ' '.join(col.split(' ')[-2:])
        df.rename(columns = {col: new_col}, inplace = True)
        mois.append(new_col)
    elif col == "Unnamed: 0":
        df.rename(columns = {col: "Formation"}, inplace = True)
    elif col == "Unnamed: 25":
        df.rename(columns = {col: "ID"}, inplace = True)
        # df['ID'] = df['ID'].astype(int)
    elif col == "Unnamed: 26":
        df.rename(columns = {col: "urls"}, inplace = True)
    else:
        limite.append(col)
        # df[col] = df[col].astype('object')
        df[col] = pd.to_datetime(df[col])
            
new_col = {"Dates limite d'inscription ": 'janv deadline', "Dates limite d'inscription .1": 'fev deadline',
           "Dates limite d'inscription .2": 'mars deadline', "Dates limite d'inscription .3": 'avr deadline',
           "Dates limite d'inscription .4": 'mai deadline', "Dates limite d'inscription .5": 'juin deadline',
           "Dates limite d'inscription .6": 'juil deadline', "Dates limite d'inscription .7": 'aout deadline',
           "Dates limite d'inscription .8": 'sept deadline', "Dates limite d'inscription .9": 'oct deadline',
           "Dates limite d'inscription .10": 'nov deadline', "Dates limite d'inscription .11": 'dec deadline'}

df.rename(columns = new_col, inplace = True)


print(df.dtypes)
df.head(2)

Formation                 object
janvier 2023              object
janv deadline     datetime64[ns]
février 2023              object
fev deadline      datetime64[ns]
mars 2023                 object
mars deadline     datetime64[ns]
avril 2023                object
avr deadline      datetime64[ns]
mai 2023                  object
mai deadline      datetime64[ns]
juin 2023                 object
juin deadline     datetime64[ns]
juillet 2023              object
juil deadline     datetime64[ns]
aout 2023                 object
aout deadline     datetime64[ns]
septembre 2023            object
sept deadline     datetime64[ns]
octobre 2023              object
oct deadline      datetime64[ns]
novembre 2023             object
nov deadline      datetime64[ns]
décembre 2023             object
dec deadline      datetime64[ns]
ID                        object
urls                      object
dtype: object

,Formation,janvier 2023,janv deadline,février 2023,fev deadline,mars 2023,mars deadline,avril 2023,avr deadline,mai 2023,...,septembre 2023,sept deadline,octobre 2023,oct deadline,novembre 2023,nov deadline,décembre 2023,dec deadline,ID,urls
0,"Angular ""2 à 13"" avec certification",23 au 25/01/23\nCOMPLET,2023-01-06,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,58652,https://www.m2iformation.fr/formation-angular-...
1,"Angular ""2 à 13"" fonctionnalités avancées avec...",23 au 25/01/23\nANNULE,2023-01-06,NaN,NaT,01 au 03/03/23\n1 place,2023-02-14,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,59474,https://www.m2iformation.fr/formation-angular-...

In [39]:
new_col.values()

dict_values(['janv deadline', 'fev deadline', 'mars deadline', 'avr deadline', 'mai deadline', 'juin deadline', 'juil deadline', 'aout deadline', 'sept deadline', 'oct deadline', 'nov deadline', 'dec deadline'])

### wide to long

In [127]:
# shape from wide to long with melt function in pandas

# id 	mois	Date formation	place	date limite 
#     1		date creneau		
# id_vars=['ID', 'Formation', 'urls'] + limite
# df2=pd.melt(df, id_vars=id_vars ,var_name='MOIS', value_name='DATE')
# df2 = df2.sort_values(by =['ID', 'Formation', 'urls'] )
# df2.head()

#reshape DataFrame from wide format to long format
id_vars=['ID', 'Formation', 'urls'] 
df2 = pd.melt(df, id_vars=id_vars, value_vars=mois,
             var_name='MOIS', value_name='DATE')
df2 = df2.sort_values(by =['ID', 'Formation', 'urls'] )
df2.reset_index(drop=True, inplace=True)
df2.head()

,ID,Formation,urls,MOIS,DATE
0,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,janvier 2023,23 au 24/01/23\nANNULE
1,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,février 2023,16 au 17/02/23\n2 places
2,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mars 2023,02 au 03/03/23\n8 places
3,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,avril 2023,NaN
4,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mai 2023,NaN

In [128]:
df3 = pd.melt(df, id_vars=id_vars, value_vars=new_col.values(),
             var_name='MOIS', value_name='DEADLINE')
df3 = df3.sort_values(by =['ID', 'Formation', 'urls'] )
df3.reset_index(drop=True, inplace=True)
df3.head()

,ID,Formation,urls,MOIS,DEADLINE
0,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,janv deadline,2023-01-06
1,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,fev deadline,2023-02-01
2,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mars deadline,2023-02-16
3,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,avr deadline,NaT
4,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mai deadline,NaT

### Add dealine col

In [129]:
df2['DEADLINE'] = df3.DEADLINE
df2.head()

,ID,Formation,urls,MOIS,DATE,DEADLINE
0,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,janvier 2023,23 au 24/01/23\nANNULE,2023-01-06
1,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,février 2023,16 au 17/02/23\n2 places,2023-02-01
2,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mars 2023,02 au 03/03/23\n8 places,2023-02-16
3,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,avril 2023,NaN,NaT
4,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mai 2023,NaN,NaT

### Creeate col nb places dispo

In [82]:
df2

,ID,Formation,urls,MOIS,DATE,DEADLINE
0,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,janvier 2023,23 au 24/01/23\nANNULE,2023-01-06
1,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,février 2023,16 au 17/02/23\n2 places,2023-02-01
2,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mars 2023,02 au 03/03/23\n8 places,2023-02-16
3,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,avril 2023,NaN,NaT
4,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mai 2023,NaN,NaT
...,...,...,...,...,...,...
223,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,aout 2023,NaN,NaT
224,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,septembre 2023,NaN,NaT
225,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,octobre 2023,NaN,NaT
226,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,novembre 2023,NaN,NaT
227,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,décembre 2023,NaN,NaT

In [83]:
a = df2.DATE[0]
b = df2.DATE[1]
c = df2.DATE[3]
df2.DATE[0]

'23 au 24/01/23\nANNULE'

In [73]:
a.split()

['23', 'au', '25/01/23', 'COMPLET']

In [84]:
b.split()

['16', 'au', '17/02/23', '2', 'places']

In [88]:
print(type(c))
str(c)

<class 'float'>

'nan'

In [130]:
def get_place(row):
    if str(row) != 'nan':
        val = row.split()
        if len(val) == 4:
            return val[-1]
        else:
            return val[-2]
    else:
        return row
    
print(get_place(a))
print(get_place(b))
print(get_place(c))

ANNULE
2
nan

In [131]:
df2['PLACES'] = df2.apply(lambda x: get_place(x.DATE), axis=1)

In [106]:
print(b.split())
' '.join(b.split()[:-2])

['16', 'au', '17/02/23', '2', 'places']

'16 au 17/02/23'

In [120]:
print(b.split())
' '.join(b.split()[:-2])

['16', 'au', '17/02/23', '2', 'places']

'16 au 17/02/23'

In [132]:
def get_date(row):
    if str(row) != 'nan':
        val = row.split()
        if len(val) == 4:
            return ' '.join(row.split()[:-1])
        else:
            return ' '.join(row.split()[:-2])
    else:
        return row
    
df2['DATE'] = df2.apply(lambda x: get_date(x.DATE), axis=1)
print(get_date(a))
print(get_date(b))
print(get_date(c))

23 au 24/01/23
16 au 17/02/23
nan

In [133]:
df2

,ID,Formation,urls,MOIS,DATE,DEADLINE,PLACES
0,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,janvier 2023,23 au 24/01/23,2023-01-06,ANNULE
1,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,février 2023,16 au 17/02/23,2023-02-01,2
2,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mars 2023,02 au 03/03/23,2023-02-16,8
3,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,avril 2023,NaN,NaT,NaN
4,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mai 2023,NaN,NaT,NaN
...,...,...,...,...,...,...,...
223,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,aout 2023,NaN,NaT,NaN
224,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,septembre 2023,NaN,NaT,NaN
225,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,octobre 2023,NaN,NaT,NaN
226,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,novembre 2023,NaN,NaT,NaN
227,MIG_00075716,Pyhton perfectionnement avec certification,https://www.m2iformation.fr/formation-python-p...,décembre 2023,NaN,NaT,NaN

### test

In [134]:
test = 23061  # 79992 23061 58652 MIG_00075716 55318 54505
df.loc[df["ID"] == test]

,Formation,janvier 2023,janv deadline,février 2023,fev deadline,mars 2023,mars deadline,avril 2023,avr deadline,mai 2023,...,septembre 2023,sept deadline,octobre 2023,oct deadline,novembre 2023,nov deadline,décembre 2023,dec deadline,ID,urls
4,Connaissances du cloud,23 au 24/01/23\nANNULE,2023-01-06,16 au 17/02/23\n2 places,2023-02-01,02 au 03/03/23\n8 places,2023-02-16,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,23061,https://www.m2iformation.fr/formation-connaiss...

In [135]:

print(len(df2.loc[df2["ID"] == test]))
df2.loc[df2["ID"] == test]

12

,ID,Formation,urls,MOIS,DATE,DEADLINE,PLACES
0,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,janvier 2023,23 au 24/01/23,2023-01-06,ANNULE
1,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,février 2023,16 au 17/02/23,2023-02-01,2
2,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mars 2023,02 au 03/03/23,2023-02-16,8
3,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,avril 2023,NaN,NaT,NaN
4,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mai 2023,NaN,NaT,NaN
5,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,juin 2023,NaN,NaT,NaN
6,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,juillet 2023,NaN,NaT,NaN
7,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,aout 2023,NaN,NaT,NaN
8,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,septembre 2023,NaN,NaT,NaN
9,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,octobre 2023,NaN,NaT,NaN
10,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,novembre 2023,NaN,NaT,NaN
11,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,décembre 2023,NaN,NaT,NaN

In [136]:
print(len(df3.loc[df3["ID"] == test]))
df3.loc[df3["ID"] == test]

12

,ID,Formation,urls,MOIS,DEADLINE
0,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,janv deadline,2023-01-06
1,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,fev deadline,2023-02-01
2,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mars deadline,2023-02-16
3,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,avr deadline,NaT
4,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,mai deadline,NaT
5,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,juin deadline,NaT
6,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,juil deadline,NaT
7,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,aout deadline,NaT
8,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,sept deadline,NaT
9,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,oct deadline,NaT
10,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,nov deadline,NaT
11,23061,Connaissances du cloud,https://www.m2iformation.fr/formation-connaiss...,dec deadline,NaT

In [124]:
temp = df[['ID'] + limite].copy()
temp

,ID,Dates limite d'inscription,Dates limite d'inscription .1,Dates limite d'inscription .2,Dates limite d'inscription .3,Dates limite d'inscription .4,Dates limite d'inscription .5,Dates limite d'inscription .6,Dates limite d'inscription .7,Dates limite d'inscription .8,Dates limite d'inscription .9,Dates limite d'inscription .10,Dates limite d'inscription .11
0,58652,2023-01-06,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,59474,2023-01-06,NaT,2023-02-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55225,2023-01-13,NaT,2023-02-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63391,NaT,NaT,21/02//23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23061,2023-01-06,2023-02-01,2023-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,65479,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,70271,NaT,2023-01-20,2023-02-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,58485,NaT,NaT,2023-02-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,61818,NaT,2023-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,59302,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,54729,NaT,2023-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,59027,2023-01-13,NaT,2023-02-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,54421,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,55318,NaT,2023-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,54505,2023-01-06,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MIG_00075716,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,64726,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,54311,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,57164,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
temp.loc[df2["ID"] == test]

,ID,Dates limite d'inscription,Dates limite d'inscription .1,Dates limite d'inscription .2,Dates limite d'inscription .3,Dates limite d'inscription .4,Dates limite d'inscription .5,Dates limite d'inscription .6,Dates limite d'inscription .7,Dates limite d'inscription .8,Dates limite d'inscription .9,Dates limite d'inscription .10,Dates limite d'inscription .11
4,23061,2023-01-06,2023-02-01,2023-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
out = df2[['ID', 'Formation', 'Date formation', 'value']+limite].copy()
out

,ID,Formation,Date formation,value,Dates limite d'inscription,Dates limite d'inscription .1,Dates limite d'inscription .2,Dates limite d'inscription .3,Dates limite d'inscription .4,Dates limite d'inscription .5,Dates limite d'inscription .6,Dates limite d'inscription .7,Dates limite d'inscription .8,Dates limite d'inscription .9,Dates limite d'inscription .10,Dates limite d'inscription .11
4,23061,Connaissances du cloud,janvier 2023,23 au 24/01/23\nANNULE,2023-01-06,2023-02-01,2023-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23061,Connaissances du cloud,février 2023,16 au 17/02/23\n2 places,2023-01-06,2023-02-01,2023-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,23061,Connaissances du cloud,mars 2023,02 au 03/03/23\n8 places,2023-01-06,2023-02-01,2023-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,23061,Connaissances du cloud,avril 2023,NaN,2023-01-06,2023-02-01,2023-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,23061,Connaissances du cloud,mai 2023,NaN,2023-01-06,2023-02-01,2023-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,MIG_00075716,Pyhton perfectionnement avec certification,aout 2023,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,MIG_00075716,Pyhton perfectionnement avec certification,septembre 2023,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,MIG_00075716,Pyhton perfectionnement avec certification,octobre 2023,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,MIG_00075716,Pyhton perfectionnement avec certification,novembre 2023,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,MIG_00075716,Pyhton perfectionnement avec certification,décembre 2023,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Script final

In [157]:
import pandas as pd


filename = "C:/Users/a844026/Downloads/Planning des sessions Intra Pré Programmées 2023 - mise à jour 16 01 23.xlsx"
df = pd.read_excel(filename, sheet_name = 0, header=4, dtype='object') # read all sheets 


def renaming_cols(df):
    mois = []
    for col in df.columns:
        if 'Dates formation' in col:
            new_col = ' '.join(col.split(' ')[-2:])
            df.rename(columns = {col: new_col}, inplace = True)
            mois.append(new_col)
        elif col == "Unnamed: 0":
            df.rename(columns = {col: "Formation"}, inplace = True)
        elif col == "Unnamed: 25":
            df.rename(columns = {col: "ID"}, inplace = True)
        elif col == "Unnamed: 26":
            df.rename(columns = {col: "urls"}, inplace = True)
        # else:
            # df[col] = pd.to_datetime(df[col])
            
    new_col = {"Dates limite d'inscription ": 'janv deadline', "Dates limite d'inscription .1": 'fev deadline',
               "Dates limite d'inscription .2": 'mars deadline', "Dates limite d'inscription .3": 'avr deadline',
               "Dates limite d'inscription .4": 'mai deadline', "Dates limite d'inscription .5": 'juin deadline',
               "Dates limite d'inscription .6": 'juil deadline', "Dates limite d'inscription .7": 'aout deadline',
               "Dates limite d'inscription .8": 'sept deadline', "Dates limite d'inscription .9": 'oct deadline',
               "Dates limite d'inscription .10": 'nov deadline', "Dates limite d'inscription .11": 'dec deadline'}

    df.rename(columns = new_col, inplace = True)
    return df, mois

df, mois = renaming_cols(df)

# reshape DataFrame from wide format to long format
id_vars=['ID', 'Formation', 'urls'] 
df2 = pd.melt(df, id_vars=id_vars, value_vars=mois,
             var_name='MOIS', value_name='DATE')
df2 = df2.sort_values(by =['ID', 'Formation', 'urls'] )
df2.reset_index(drop=True, inplace=True)
 
temp = pd.melt(df, id_vars=id_vars, value_vars=new_col.values(),
             var_name='MOIS', value_name='DEADLINE')
temp = temp.sort_values(by =['ID', 'Formation', 'urls'] )
temp.reset_index(drop=True, inplace=True)

df2['DEADLINE'] = temp.DEADLINE

def get_place(row):
    if str(row) != 'nan':
        val = row.split()
        if len(val) == 4:
            return val[-1]
        else:
            return val[-2]
    else:
        return row
    
def get_date(row):
    if str(row) != 'nan':
        val = row.split()
        if len(val) == 4:
            return ' '.join(row.split()[:-1])
        else:
            return ' '.join(row.split()[:-2])
    else:
        return row

df2['PLACES'] = df2.apply(lambda x: get_place(x.DATE), axis=1)
df2['DATE'] = df2.apply(lambda x: get_date(x.DATE), axis=1)

In [158]:
df2

,ID,Formation,urls,MOIS,DATE,DEADLINE,PLACES
0,22193,Process Com®,NaN,janvier 2023,NaN,NaN,NaN
1,22193,Process Com®,NaN,février 2023,06 au 08/02/23,2023-01-20 00:00:00,10
2,22193,Process Com®,NaN,mars 2023,08 au 10 /03/23,2023-02-21 00:00:00,10
3,22193,Process Com®,NaN,avril 2023,NaN,NaT,NaN
4,22193,Process Com®,NaN,formation\nmai 2023,NaN,NaT,NaN
...,...,...,...,...,...,...,...
223,NaN,Change Management - ADKAR,https://www.nexum.eu/fr/public-training/progra...,septembre 2023,NaN,NaN,NaN
224,NaN,Change Management - ADKAR,https://www.nexum.eu/fr/public-training/progra...,octobre 2023,NaN,NaN,NaN
225,NaN,Change Management - ADKAR,https://www.nexum.eu/fr/public-training/progra...,novembre 2023,NaN,NaN,NaN
226,NaN,Change Management - ADKAR,https://www.nexum.eu/fr/public-training/progra...,décembre 2023,NaN,NaN,NaN
227,NaN,Change Management - ADKAR,https://www.nexum.eu/fr/public-training/progra...,décembre 2022,NaN,NaN,NaN

In [154]:
df2.to_csv('agiles.xlsx')